@model Temporary_Prison.Common.Models.Prisoner

<div>
    <h4>PrisonerProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelationshipStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationshipStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate.Value.Date)
        </dd>

        <!--<dt>
            Html.DisplayNameFor(model => model.PlaceOfResidence)
        </dt>

        <dd>
           Html.DisplayFor(model => model.PlaceOfResidence)
        </dd>-->

    </dl>
  
</div>
<p>
    @Html.ActionLink("Back to List", "ListOfPrisoners")
</p>
