@model Temporary_Prison.Models.UserAndRolesViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    @Html.ValidationSummary(true,
    "",
    new { @class = "text-danger" })
    <div>
        @Html.ActionLink("Back",
       "EditUser",
       new { UserName = Model.UserName },
       new { @class = "btn btn-default" })
        <input type="submit" value="Add Role" class="btn btn-default" />
        <div class="form-group">
            @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2", })
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.Roles, ViewBag.Roles as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />

    <table class="table">
        <tr>
            <th>
                Existing Roles:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Roles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @if (!((Model.UserName.ToLower() ==
                        this.User.Identity.Name.ToLower()) &&
                        item == "Admin") &&
                        item != "No Roles Found")
                    {
                        @Html.ActionLink("Delete", "DeleteRole",
                       new { UserName = item, RoleName = item },
                        new
                        {
                            onclick =
                        "return confirm('Are you sure you wish to delete this role?');"
                        })
                    }
                </td>
            </tr>
        }
    </table>
}