@model Temporary_Prison.Models.DetailsPrisonerViewModel

<div class="container">
    <div class="row">
        <div class="col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-heading"> <h4>Prisoner profile</h4> </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div align="center">
                                    @Html.Photo(Model.Photo, new { @class = "img-thumbnail" })
                                    <input id="profile-image-upload" class="hidden" type="file">
                                </div>

                                <br>
                            </div>

                            <div class="col-sm-6"> <h4 style="color:#000000;"></h4>@Html.LabelFor(model => model.PhoneNumbers):</div>
                            @foreach (var phone in Model.PhoneNumbers)
                            {
                                <div class="col-sm-6">@phone</div>
                            }
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.FirstName)</div><div class="col-sm-7">@Html.DisplayFor(model => model.FirstName)</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.FirstName)</div><div class="col-sm-7">@Html.DisplayFor(model => model.LastName)</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.Surname)</div><div class="col-sm-7">@Html.DisplayFor(model => model.Surname)</div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.RelationshipStatus)</div><div class="col-sm-7">@Html.DisplayFor(model => model.RelationshipStatus)</div>
                            <div class="bot-border"></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.BirthDate)</div><div class="col-sm-7">@Html.DisplayFor(model => model.BirthDate)</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.PlaceOfWork)</div><div class="col-sm-7">@Html.DisplayFor(model => model.PlaceOfWork)</div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5 col-xs-6 tital ">@Html.LabelFor(model => model.RelationshipStatus)</div><div class="col-sm-7">@Html.DisplayFor(model => model.RelationshipStatus)</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.DetentionPagedList != null)
{
    @Html.Partial("ListOfDetentions", Model.DetentionPagedList)
}

@if (!(bool)ViewBag.Guarded && (User.IsInRole("Admin") || User.IsInRole("Editor")))
{
    @Html.ActionLink("Create Detention", "CreateDetention", "Editor",
    new { prisonerId = Model.PrisonerId },
    new { @class = "btn btn-default col-md-offset-10" })
}
<p>
    @Html.ActionLink("Back to List", "ListOfPrisoners")
</p>
