@model Temporary_Prison.Common.Models.Prisoner

<div class="container">
    <div class="row">
        <div class="col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-heading"> <h4>Prisoner profile</h4> </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div align="center">
                                    @Html.Photo(Model.Photo,new { @class = "img-rounded img-responsive" })
                                    <input id="profile-image-upload" class="hidden" type="file">
                                </div>

                                <br>
                            </div>

                            <div class="col-sm-6"> <h4 style="color:#000000;">Address:</h4></div>

                           
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Last Name:</div><div class="col-sm-7">@Html.DisplayFor(model => model.LastName)</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Surname:</div><div class="col-sm-7">@Html.DisplayFor(model => model.Surname)</div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Relationship Status:</div><div class="col-sm-7">@Html.DisplayFor(model => model.RelationshipStatus)</div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div><div class="col-sm-7">@Html.DisplayFor(model => model.BirthDate.Date)</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Place Of Work:</div><div class="col-sm-7">@Html.DisplayFor(model => model.PlaceOfWork)</div>
                            <div class="clearfix"></div>
                            <div class="col-sm-5 col-xs-6 tital ">Relationship Status:</div><div class="col-sm-7">@Html.DisplayFor(model => model.RelationshipStatus)</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "ListOfPrisoners")
</p>
