@model IEnumerable<Temporary_Prison.Common.Models.DetentionPagedList>
@using X.PagedList
@using X.PagedList.Mvc
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDetention)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PlaceofDetention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDetention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceofDetention)
            </td>
            <td>
                @if (item.DateOfRelease != null)
                {
                    @Html.DisplayFor(modelItem => item.DateOfRelease)
                }
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Editor") && item.DateOfRelease == null)
                {
                    @Html.ActionLink("Release", "ReleasePrisoner", new { DetentionID = item.DetentionID }, new { @class = "btn btn-success btn-xs" })
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit |", "EditDetention", new { DetentionID = item.DetentionID })
                    @Html.ActionLink("Delete |", "DeleteDetention", new { DetentionID = item.DetentionID })
                }
                @Html.ActionLink("Details", "DetailsDetention", new { DetentionID = item.DetentionID })
            </td>
        </tr>
    }
</table>


@Html.PagedListPager(Model as IPagedList, page => Url.Action("Index",
    new
    {
        page,

    }), PagedListRenderOptions.MinimalWithPageCountText)
