@model IEnumerable<Temporary_Prison.Models.DetentionPagedListViewModel>
@using X.PagedList
@using X.PagedList.Mvc
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDetention)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PlaceofDetention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRelease)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDetention)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceofDetention)
            </td>
            <td>
                @if (item.DateOfRelease != null)
                {
                    @Html.DisplayFor(modelItem => item.DateOfRelease)
                }
            </td>
            <td>

                @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit |", "EditDetention", "Editor", new { id = item.DetentionID }, string.Empty)

                    @Html.ActionLink("Delete", "DeleteDetention", "Editor",
                   new
                   {
                       id = item.DetentionID,
                       prisonerId = ViewBag.prisonerId,
                       page = ViewBag.currentPage,
                       totalCount = ViewBag.totalCountDetentions,
                   }, 
                   string.Empty)
                }
                @Html.ActionLink("Details", "DetailsOfDetention", new { id = item.DetentionID })

                @if ((User.IsInRole("Admin") || User.IsInRole("Editor")) && (bool)ViewBag.Guarded && item.Equals(Model.Last()))
                {
                    @Html.ActionLink("Release", "ReleaseOfPrisoner", "Editor",
                   new { detentionID = item.DetentionID },
                   new { @class = "btn btn-success btn-xs" })
                }
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model as IPagedList, page => Url.Action("DetailsOfPrisoner",
    new
    {
        id = ViewBag.prisonerId,
        page,
        totalCountDetentions = ViewBag.totalCountDetentions

    }), PagedListRenderOptions.MinimalWithPageCountText)
