@model Temporary_Prison.Models.ListOfPrisonersViewModel

@{
    ViewBag.Title = "list of prisoners";
}

<div class="form-group">
        @Html.Partial("SearchFilterForm", Model.SearchfilterModel)
 
        <div class="row" id="UserListBox">

            @if (Model.PagedListOfPriosners != null)
            {
                @Html.Partial("PrisonerPanelPartial", Model.PagedListOfPriosners)
            }
            else
            {
                @Html.Label("not found")
            }
        </div>
</div>
    <div class="form-group">
        <div class="col-md-10">
            <input class="btn btn-group " type="submit" value="Search" onclick="window.search.SearchFilter()" />
        </div>
    </div>


@Html.ActionLink("Back to Home", "Index", "Home")

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/search/search.js"></script>
    <script>
    window.search = window.FindPrisoners(
            '@Html.Raw(Url.Action("SearchFilter", "Prisoner"))',
    )
    </script>
}