@model IEnumerable<Temporary_Prison.Models.PrisonerPagedListViewModel>
@using X.PagedList
@using X.PagedList.Mvc
@{
    ViewBag.Title = "list of prisoners";
}
<style>
    i {
        vertical-align: middle;
    }

    .table-users tbody tr:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .nav-user-photo {
        vertical-align: middle;
    }

    .img-thumbnail {
    
    }
    .user_panel {
        width: 100%;
    }
</style>
@if (Model != null)
{
    <div class="form-group">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body col-lg-offset-0 col-lg-12">
                <div class="panel panel-default user_panel ">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of prisoners</h3>
                    </div>
                    <div class="table-container">
                        <table class="table-users table">
                            <tbody>
                                <tr>
                                    <th>
                                        
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.BirthDate)
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.Photo(item.Avatar, new { @class = "img-thumbnail"})  
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirthDate)
                                        </td>
                                        <td align="center">
                                            @Html.ActionLink("Details", "DetailsOfPrisoner",                 
                                           new { id = item.PrisonerId })
                                        </td>
                                        @if (User.IsInRole("Editor") || (User.IsInRole("Admin")))
                                        {
                                            <td align="center">
                                                @Html.ActionLink("Edit", "EditPrisoner", "Editor",
                                              new { id = item.PrisonerId }, string.Empty)
                                            </td>
                                            <td align="center">
                                                @Html.ActionLink("Delete", "DeletePrisoner", "Editor",
                                              new { id = item.PrisonerId },
                                              new { onclick = "return confirm('Are you sure you wish to delete this prisoner?');" })
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <h4>
                            Total Count: <span class="label label-info" id="total-count">@ViewBag.TotalCountPrisoners</span>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <div class="pagination pagination-sm pull-right">
                            @Html.PagedListPager(Model as IPagedList, page =>
                        Url.Action("ListOfPrisoners", new
                        {
                            page,
                            currentTotal = ViewBag.TotalCountPrisoners,
                            search = ViewBag.Search
                        }), PagedListRenderOptions.MinimalWithPageCountText)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
}
else
{
}
        @Html.ActionLink("Back to Home", "Index", "Home")
